.Login {
  box-sizing: border-box;
  font-family: "Helvetica 93 Black Extended";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.Login input {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 60%;
  outline: none;
  font-size: 16px;
  font-family: inherit;
}

.Login .form-group span {
  font-size: 20px;
}

#login-button {
  color: white;
  background: black;
  font-family: "Helvetica 93 Black Extended";
  padding: 10px 15px;
  width: max-content;
  cursor: pointer;
  margin-bottom: 40px;
}

.underline-button:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 460px) {
  .supbtn {
    display: block;
  }
}
