.Profiles {
	padding: 20px;
	min-height: calc(100vh - 369px);
}

.Profiles > .heading {
	align-content: center;
	display: flex;
	padding-bottom: 20px;
	flex-wrap: wrap;
}

.Profiles .search {
	float: right;
}

.Profiles img {
	border-radius: 50%;
}

.profile-grid {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 20px;
}
