

.searchBox {
    margin-left: 10px;
    margin-top: -9px;
background: #2f3640;
height: 35px;
    border-radius: 35px;
        padding: 5px;
    transition-delay: 3.1s;
}

.searchBox:hover > .searchInput {
    transition-duration: 500ms;
    transition-property: margin-right;
    width: 170px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: 	rgb(64,224,208);
  color : #2f3640;
}

.searchButton {
    color: black;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: 	rgb(64,224,208);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    transition-delay: 3.1s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    transition-delay: 3.1s;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}