.search-section {
	display: flex;
	margin-left: auto;
}

.searchInput {
	border: 1px solid rgba(0, 0, 0, 0.233);
	border-radius: 6px 0 0 6px;
	outline: none;
	background: rgb(245, 245, 245);
	padding: 4px 8px;
	color: #000;
	font-size: 16px;
	border-right: none;
}

.searchButton {
	width: 33px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.233);
	border-radius: 0 6px 6px 0;
	background: #2ea44f;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: none;
	color: #fff;
}

@media screen and (max-width: 620px) {
	.searchBox:hover > .searchInput {
		width: 150px;
		padding: 0 6px;
	}
}
