.ProfileTop {
	padding-left: 5%;
	margin: 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ProfileTop > .buttonunfollow {
	width: 180px;
}

.ProfileTop .github__neutral {
	max-width: 200px;
}

.ProfileTop > .page-headers {
	padding-bottom: 20px;
}

.button-group {
	margin-top: 20px;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid rgba(27, 31, 35, 0.281);
	color: #808080;
}

.button-group > :nth-child(1) {
	border-right: 1px solid rgba(27, 31, 35, 0.281);
}

.button-group > button {
	font-size: 14px;
	font-family: "Segoe UI", sans-serif;
	background-color: transparent;
	width: 105px;
	height: 31px;
}

.button-group > button:hover {
	background-color: #f3f4f6;
}

.ProfileTop img {
	margin-bottom: 20px;
	background-color: #f0f0f0;
	border-radius: 9999px;
	width: 200px;
}

.ProfileTop > h3 {
	margin-bottom: 20px;
}

.followtag {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	user-select: none;
	margin-bottom: 20px;
}

.followtag a:hover {
	color: #0366d6;
}

.ProfileTop .github__neutral {
	margin: 0 auto;
	width: 200px;
}

.icon-container {
	padding-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.icon-container i {
	color: rgba(0, 0, 0, 0.747);
}

.icon-container i:hover {
	color: #808080;
}

.followed {
	color: green;
	font-family: "Helvetica";
	font-size: 10pt;
	background-color: #ffffff;
	border: 1px solid;
	border-color: green;
	border-radius: 3px;
	width: 85px;
	height: 30px;
	cursor: hand;
	display: none;
}

.btn {
	margin-top: 20px;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid rgba(27, 31, 35, 0.281);
	padding: 5px 10px;
	background-color: transparent;
	width: 208px;
	font-size: 16px;
	font-family: "Segoe UI", sans-serif;
}

.follow {
	margin-top: 20px;
	border-radius: 6px;
	overflow: hidden;
	border: 1px solid rgba(27, 31, 35, 0.281);
	padding: 5px 10px;
	background-color: transparent;
	width: 208px;
	font-size: 16px;
	font-family: "Segoe UI", sans-serif;
}

.follow:hover {
	background-color: #f3f4f6;
}

.buttonunfollow {
	display: block;
	width: 212px;
	text-align: center;
	color: #24292e;
	background-color: #fafbfc;
	box-shadow: 0 1px 0 #1b1f230a, inset 0 1px 0 #ffffff40;
	text-decoration: none;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	line-height: 20px;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	border: 1px solid #1b1f2326;
	border-radius: 6px;
	outline: none;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	/* margin-top: 20px; */
}

.buttonfollow {
	display: block;
	width: 212px;
	color: #fff;
	background-color: #2ea44f;
	border-color: rgba(27, 31, 35, 0.15);
	box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
	text-decoration: none;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	line-height: 20px;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	border: 1px solid #1b1f2326;
	border-radius: 6px;
	outline: none;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	/* margin-top: 20px; */
}
