.EditProfile {
	padding: 20px;
	min-height: 700px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.EditProfile > form {
	min-height: 100px;
	max-width: 700px;
	margin: 20px auto;
	border: 1px solid #e1e4e8;
	padding: 20px;
	border-radius: 6px;
	background-color: #f6f8fa;
}

.side__float {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin-bottom: 30px;
	align-items: flex-start;
}

.one__line__center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.EditProfile .form-group {
	display: flex;
	flex-direction: column-reverse;
}

.EditProfile .form-group > span {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
}

.EditProfile .form-group > input {
	background-color: #fafbfc;
	padding: 5px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	outline: none;
	box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.EditProfile .form-group > input:focus {
	border: 1px solid #0366d6;
}

.EditProfile .form-group > select {
	background-color: #fafbfc;
	padding: 5px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	outline: none;
	box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.EditProfile .form-group > textarea {
	resize: vertical;
	min-width: 335px;
	min-height: 20px;
	background-color: #fafbfc;
	padding: 5px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	outline: none;
	box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
}

.EditProfile .form-group > textarea:focus {
	border: 1px solid #0366d6;
}

.social__media {
	padding: 5px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	border-radius: 999px;
	outline: none;
	background-color: #0366d6;
	color: #fff;
	margin-bottom: 30px;
}

.confirm__changes {
	padding: 5px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	border-radius: 999px;
	outline: none;
	background-color: #2ea44f;
	color: #fff;
	margin-right: 30px;
}

.head__back {
	padding: 5px 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	border-radius: 999px;
	outline: none;
	background-color: #d6d6d6;
	color: #24292e;
	margin-right: 30px;
}

@media only screen and (max-width: 900px) {
	.side__float {
		grid-template-columns: 1fr;
	}
}
