.Landing {
	background: white;
	min-height: calc(100vh - 329px);
	font-family: "Helvetica 93 Black Extended";
}

.Landing > :nth-child(1) > :nth-child(1) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 600px;
}

.Landing > :nth-child(1) > :nth-child(1) > :nth-child(1) {
	box-sizing: border-box;
	background: rgb(59, 230, 144);
	height: 100%;
	padding: 40px 40px 40px 40px;
	display: flex;
	align-items: center;
}

.Landing > :nth-child(1) > :nth-child(1) > :nth-child(2) {
	background: rgb(253, 188, 199);
	height: 100%;
	overflow: hidden;
}

.Landing > :nth-child(1) > :nth-child(1) > :nth-child(2) img {
	object-position: center;
	object-fit: cover;
}

.banner-text {
	background-color: #000000;
	padding: 10px 40px;
	color: #ffffff;
	font-family: "Helvetica 93 Black Extended", sans-serif;
	user-select: none;
}

.banner-text p {
	font-size: 40px;
	width: 75%;
}

.land-shade {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 400px;
}

.land-shade {
	background: #000000;
	background-image: url(../../img/reds.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.land-shade div {
	user-select: none;
	box-sizing: border-box;
	color: white;
	padding: 40px;
	font-size: 35px;
	transition: background-color 0.3s ease;
}

.land-shade div:hover {
	background-color: transparent;
}

.land-shade > :nth-child(1) {
	background-color: #008686;
}

.land-shade > :nth-child(2) {
	background-color: #00b4b4;
}
.land-shade > :nth-child(3) {
	background-color: #00d6d6;
}

@media only screen and (max-width: 900px) {
	.Landing > :nth-child(1) > :nth-child(1) {
		display: flex;
		flex-direction: column;
		height: 1000px;
	}

	.banner-text p {
		width: 100%;
	}

	.land-shade {
		display: grid;
		grid-template-columns: 1fr;
		height: 800px;
	}
}
