.top-panel {
	height: 34px;
	background: #000;
	color: #fff;
	font-size: 12px;
	font-family: "Source Code Pro", monospace;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
}

.top-panel a:hover {
	color: #ffffffad;
	text-decoration: underline;
}

.navbar {
	background-color: #000;
	color: #fff;
	padding: 10px 30px;
	height: 60px;
	margin: 0 auto;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: left;
	font-family: "Helvetica 93 Black Extended";
	font-weight: bold;
	font-size: 18px;
}

.navbar a {
	color: #fff;
	text-transform: uppercase;
	height: 100%;
}

.navbar > span {
	margin-right: 50px;
}

.navbar div a {
	margin-right: 30px;
}

.navbar a:hover {
	color: #ffffffad;
}

.guestLinks ul {
	display: flex;
	flex-direction: row;
}

.min__nav {
	display: none;
}

.min__nav__content {
	/* border-top: 1px solid #fff; */
	display: none;
	color: #fff;
	font-family: "Helvetica 93 Black Extended";
	font-weight: bold;
	font-size: 16px;
	padding: 10px 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.min__nav__content a {
	display: block;
	padding: 15px 0;
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.min__nav__content :nth-last-child(1) {
	border: none;
}

@media only screen and (max-width: 900px) {
	.navbar {
		justify-content: center;
	}

	.navbar > span {
		margin: 0;
	}

	.guestLinks ul {
		/* background: red; */
		display: none;
		/* width: 60%; */
	}

	.authLinks {
		display: none;
	}

	.min__nav {
		display: inline-block;
		position: absolute;
		left: 30px;
	}

	.min__nav__content {
		display: block;
		background: #000;
	}
}
